
/*

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}
@media (min-width: 768px) {
#nav li a {
  font-size: 14px;
  padding: 20px 10px;
}


}
@media (max-width: 768px) {

}
*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
.left_column {
  width: 50%;
  height:350px;
}
.right_column {
  width: 50%;
  height:350px;
}
.left_column  img {
  height:350px;
  width:100%;
}

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
.testimonial p {
  padding: 0;
}
#nav li a {
  font-size: 13px;
  padding: 20px 10px;
}
.right_column h2 {
  font-size: 24px;
  line-height: 30px;
  padding: 29px 30px;
}
.left_column {
  width: 50%;
  height:300px;
}
.right_column {
  width: 50%;
  height:300px;
}
.left_column  img {
  height:300px;
  width:100%;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

.slider_area {
  background: url("img/banner.jpg") no-repeat scroll 0 0 #f7f7f7;
  background-size:cover;
}
#nav li a {
  font-size: 13px;
  padding: 20px 10px;
}
.testimonial p {
  padding: 0;
}
.left_column {
  float: none;
  width: 100%;
}
.left_column  img {
  width: 100%;
}
.right_column {
  float: none;
  width: 100%;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.slicknav_menu {
	display:block;
}
.mainmenu {
  display:none;
}
#nav li a {
  font-size: 13px;
  padding: 20px 10px;
}
.logo {
  margin-top: 8px;
}
.social_bookmark i {
  height: 30px;
  padding: 7px;
  width: 30px;
}
.slider_area {
  background: url("img/banner.jpg") no-repeat scroll 0 0 #f7f7f7;
  background-size:cover;
  min-height: 346px;
  position: relative;
}
.testimonial h2,.testimonial h3 {
  padding: 15px 0;
}
.testimonial p {
  padding:0 15px;
}
.left_column {
  float: none;
  width: 100%;
}
.right_column {
  float: none;
  width: 100%;
}
.right_column h2 {
  font-size: 18px;
  line-height: 28px;
  padding: 20px 30px;
}
.sign_up h2 {
  font-size: 24px;
}
.footer_area {
  padding: 25px 0;
}
.slider {
  position: absolute;
  width:80%;
  left:0;
  top:0;
  margin-top:80px;
  margin-left:10%;
  
}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
.slider_area {
  min-height: 150px;
}
.slider h2 {
  font-size: 15px;
  padding: 3px;
}
.slider {
  position: absolute;
  width:80%;
  left:0;
  top:0;
  margin-top:50px;
  margin-left:25px;
  
}
}


