body {font-family: 'Lato', sans-serif; color:#696767; font-size:14px;}
ul,ol {margin:0; padding:0; list-style:none;}
a {text-decoration:none;}
a:hover{text-decoration:none;}
a:focus {
  color: #2a6496;
  text-decoration: none;
  outline:none;
}
img {max-width:100%}
h1, h2, h3, h4, h5, h6 {margin:0;}

.header_area {
	background:#353434;
	color:#fff;
}


.logo {
	margin-top:13px;
}

.slicknav_menu {
	display:none;
}

#nav  {
	margin:0;
	padding:0; 
	list-style:none;
}
#nav  li {display:inline-block; position:relative;}
#nav  li  a { display:block; padding: 20px; color:#fff; font-size:16px; line-height:20px; font-weight:700; text-transform:uppercase;}
#nav  li  a:hover {background:#65BF95;}
/*This code for dropdown menu   */

#nav  li ul {position:absolute; top:55px; left:0; display:none; z-index:999999; border-top:5px solid #fff; background:#353434;}
#nav  li ul li {width:200px; float:none; display:block; border-bottom:1px dotted #fff;}
#nav  li ul li:last-child {border-bottom:0px solid #fff;}
#nav  li ul li a {display:block; padding:5px 20px; }
#nav  li:hover ul{display:block; }

.header_right {overflow:hidden;}
.social_bookmark {
	float:right;
}
.social_bookmark a {
	color:#fff;
}
.social_bookmark i {
	border: 2px solid #fff;
	margin: 10px 0;
	padding: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
}



.slider_area {
	background:url(img/banner.jpg) no-repeat #F7F7F7;
	min-height:580px;
	position:relative;
}

.slider {
	position: absolute;
	right: 20%;
	top: 40%;
	width: 410px;
}

.slider  h2 {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
	font-size: 24px;
	margin-bottom:10px;
	padding: 10px;
	text-transform: uppercase;
	display: inline-block;
}

.promotion_area {
	background:#F7F7F7;
}
.promotion {margin-top:80px;} 

.single_promo {
	margin-bottom:80px;
	position:relative;
}
.promo_content {
	margin-left:80px;
	color:#9e9e9e;
}
.single_promo  h2 {
	font-size:22px;
	font-weight:700;
	color:#767676;
	margin-bottom:10px;
}

.single_promo  p {
	font-size:15px;
}

.single_promo  a {
	color:#9e9e9e;
	
}
.single_promo  a:hover {
	text-decoration:underline;
}
.single_promo  i {
	background: none repeat scroll 0 0 #65bf95;
	color:#fff;
	border-radius: 50%;
	font-size: 24px;
	height: 60px;
	padding-top: 18px;
	text-align: center;
	width: 60px;
	position:absolute;
	left:0;
	top:0;
}

.testimonial_area {
}

.testimonial {
}



.fulwidth_area {
	overflow:hidden;
	min-height:400px;
}

.left_column {
	float:left;
	width:50%;
}

.left_column  img {

}

.right_column {
	float:right;
	width:50%;
	background:#3B3B3B;
	color:#fff;
}

.right_column  h2 {
	text-transform:uppercase;
	font-size:30px;
	font-weight:700;
	padding:50px 30px;
	line-height:40px;
	
}

.right_column p {
	font-size:16px;
	line-height:20px;
	padding:0 30px;
	margin-bottom:9px;
}

.right_column  a {
	color: #fff;
	display: block;
	margin-top: 30px;
	padding: 36px 30px;
	margin: 0;
}
.testimonial {
	text-align:center;
}
.testimonial h2 {
	font-size:26px;
	color:#4f4f4f;
	font-weight:400;
	padding:40px 0;
}
.testimonial h3 {
	font-size:16px;
	color:#696767;
	font-weight:700;
	padding-top:45px;
}
.testimonial p {
	font-size:20px;
	font-weight:400;
	margin:0;
	padding:0 80px;
}
.sing_up_area {
}

.sign_up {
	text-align:center;
	margin:50px 0;
}
.sign_up h2 {
	text-transform:uppercase;
	color:#6b6b6b;
	font-size:34px;
	font-weight:700;
}
.sign_up p {
	color:#7f7d7d;
	padding:10px 0;
	font-size:17px;
}

.sign_up a{
	color:#fff;
	background:#65BF95;
	padding:10px 50px;
	margin:30px auto;
	display:block;
	text-transform:uppercase;
	font-size:20px;
	width:260px;
	
}

.footer_area {
	background:#F7F7F7;
	padding:100px 0;
	text-align:center;
}
.footer_area  p {
	margin-top:20px;
}

.owl-theme .owl-controls {
  margin-bottom:50px;
}